<h3 class="center-align">Edit student informations</h3>
<div style="margin: 50px auto; max-width: 700px">
    <%= form_for @student do |f| %>
        <%= f.label :name%>
        <%= f.text_field :name%>

        <%= f.label :email%>
        <%= f.email_field :email%>

        <%= f.submit "Edit", class: "btn orange" %>
    <% end %>
    <% if @student.errors.any? %>
        <div class="card-panel red lighten-2 white-text">
            <ul>
                <% @student.errors.full_messages.each do |message| %>
                    <li><%= message%></li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>